{% extends 'base.html' %}

{% block content %}
<h1>Review {{ movie.title }}</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div>
        {{ form.content.label }}<br>
        {{ form.content }}<br>
        {% for error in form.content.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        {{ form.rating.label }}<br>
        {{ form.rating }}<br>
        {% for error in form.rating.errors %}
        <span class="error">{{ error }}</span>
        {% endfor %}
    </div>
    <div>
        <input type="submit" value="Submit Review">
    </div>
</form>
{% endblock %}
